langchain==0.0.178
gpt4all==0.2.3
chromadb==0.3.23
llama-cpp-python==0.1.54
urllib3==2.0.2
pdfminer.six==20221105
python-dotenv==1.0.0
unstructured==0.6.8
extract-msg==0.41.1
tabulate==0.9.0
pandoc==2.3
pypandoc==1.11
tqdm==4.65.0
huggingface-hub==0.14.1
tkdesigner==1.0.7
tk==0.1.0
torch==2.0.1
pyPDF==3.9.0
aspose-words==23.5.0
aspose.slides==23.5.0
aspose-cells==23.5.0
pdf2image==1.16.3
transformers==4.29.2
poppler-utils==0.1.0
Pillow==8.4.0
pdfreader==0.1.12
csvloader==0.0.2
